@page "/"
@using System.ComponentModel.DataAnnotations
@rendermode InteractiveServer
@using souschef_fe.Services
@inject ICrudSvc<User> UserService
@inject ILogger<ClientUserService> Logger

@using souschef_core.Model
@using souschef_core.Services


<PageTitle>Home</PageTitle>

<h1 style="text-align: center;">Login or Create New Account!</h1>

@if (showUser)
{
    <h3 style="text-align: center;">Welcome, @_user.DisplayName</h3>
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card border-primary mb-4">
                <div class="card-header bg-primary text-white">
                    <h5 class="card-title mb-0">Log In</h5>
                </div>
                <div class="card-body">
                    <EditForm Model="@NewUser" OnValidSubmit="HandleValidSubmit">
                        <DataAnnotationsValidator/>
                        <ValidationSummary/>
                        <div class="mb-3">
                            <label for="getUserName" class="form-label">User ID</label>
                            <InputNumber id="getUserName" class="form-control" @bind-Value="@NewUser.UserId"/>
                        </div>
                        <button type="submit" class="btn btn-primary">Log In</button>
                    </EditForm>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card border-primary mb-4">
                <div class="card-header bg-primary text-white">
                    <h5 class="card-title mb-0">Create New User</h5>
                </div>
                <div class="card-body">
                    <EditForm Model="@InsertUser" OnValidSubmit="HandleInsertSubmit">
                        <DataAnnotationsValidator/>
                        <ValidationSummary/>
                        <div class="mb-3">
                            <label for="createUsername" class="form-label">Username</label>
                            <InputText id="createUsername" class="form-control" @bind-Value="@InsertUser.Username"/>
                        </div>
                        <div class="mb-3">
                            <label for="displayName" class="form-label">Display Name</label>
                            <InputText id="displayName" class="form-control" @bind-Value="@InsertUser.DisplayName"/>
                        </div>
                        <div class="mb-3">
                            <label for="firstName" class="form-label">First Name</label>
                            <InputText id="firstName" class="form-control" @bind-Value="@InsertUser.Firstname"/>
                        </div>
                        <div class="mb-3">
                            <label for="lastName" class="form-label">Last Name</label>
                            <InputText id="lastName" class="form-control" @bind-Value="@InsertUser.Lastname"/>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <InputText id="email" class="form-control" @bind-Value="@InsertUser.Email"/>
                        </div>
                        <button type="submit" class="btn btn-primary">Create</button>
                    </EditForm>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card border-primary mb-4">
                <div class="card-header bg-primary text-white">
                    <h5 class="card-title mb-0">Delete User</h5>
                </div>
                <div class="card-body">
                    <EditForm Model="@DeleteUser" OnValidSubmit="HandleValidDeletion">
                        <DataAnnotationsValidator/>
                        <ValidationSummary/>
                        <div class="mb-3">
                            <label for="deleteUserID" class="form-label">User ID</label>
                            <InputNumber id="deleteUserID" class="form-control" @bind-Value="@DeleteUser.UserId"/>
                        </div>
                        <button type="submit" class="btn btn-primary">Delete</button>
                    </EditForm>
                </div>
            </div>
        </div>
    </div>
</div>


@code {
    
    

    [Parameter] public User NewUser { get; set; } = new();
    [Parameter] public User InsertUser { get; set; } = new();
    [Parameter] public User DeleteUser { get; set; } = new();


    private bool showUser = false;

    private User _user = new User();

    private async Task HandleValidSubmit()
    {
        showUser = true;

        _user = await UserService.GetAsync(NewUser.UserId);
        
    }

    private async Task HandleInsertSubmit()
    {
        showUser = true;


        // byte[] photo = new byte[10];
        // InsertUser.Photo = photo;
        await UserService.AddAsync(InsertUser);
        // _user = await UserService.GetAsync(InsertUser.UserId);
        
    }

    private async Task HandleValidDeletion()
    {
        await UserService.DeleteAsync(DeleteUser.UserId);
        // await UserService.DeleteUserAsync(DeleteUser.UserId);
    }


}