@page "/log"
@rendermode InteractiveServer

@using souschef_core.Model
@using souschef_core.Services

@inject NavigationManager NavigationManager

<h3 style="text-align: center">Please Log In</h3>

@* <div class="d-flex justify-content-center align-items-center"> *@
@*     <div class="card text-center" style="width: 18rem;"> *@
@*         <div class="card-body"> *@
@*             <h5 class="card-title">Log In</h5> *@
@*             <EditForm Model="@log" OnValidSubmit="HandleValidLogin"> *@
@*                 <DataAnnotationsValidator /> *@
@*                 <div class="mb-3"> *@
@*                     <label for="username" class="form-label">Username</label> *@
@*                     <InputText id="username" class="form-control" @bind-Value="@log.username" /> *@
@*                 </div> *@
@*                 <div class="mb-3"> *@
@*                     <label for="password" class="form-label">Password</label> *@
@*                     <InputText id="password" class="form-control" @bind-Value="@log.password" /> *@
@*                 </div> *@
@*                 <button type="submit" class="btn btn-primary">Log In</button> *@
@*             </EditForm> *@
@*         </div> *@
@*     </div> *@
@* </div> *@

<div class="d-flex justify-content-center align-items-center">
    <div class="card p-4">
        <h3 class="text-center mb-4">Enter a User ID</h3>
        <EditForm Model="@IDInput" OnValidSubmit="@HandleValidSubmit">
            <div class="form-group">
                <label for="longInput">User ID</label>
                <InputNumber id="longInput" class="form-control" @bind-Value="@IDInput.id" />
            </div>
            <button type="submit" class="btn btn-primary mt-3 w-100">Submit</button>
        </EditForm>
    </div>
</div>


@code {
    [Parameter] public LogIn log { get; set; } = new();
    
    private IdInput IDInput = new IdInput();
    
    private void HandleValidSubmit()
    {
        NavigationManager.NavigateTo($"/log/{IDInput.id}");
        
    }
    
    
    
    
    public class IdInput
    {
        public long id { get; set; }
    }
    
}